absl-py==2.1.0
addict==2.4.0
aiofiles==24.1.0
aiohappyeyeballs==2.4.4
aiohttp
aiosignal==1.3.1
anyio
appdirs==1.4.4
APScheduler==3.11.0
attrs==24.2.0
basicsr==1.4.2
beautifulsoup4==4.12.3
blinker
bs4==0.0.2
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.8
colorama==0.4.6
contourpy
cssselect==1.2.0
cycler==0.12.1
facexlib==0.3.0
fake-useragent
filelock==3.16.1
filterpy==1.4.5
Flask
fonttools==4.55.3
frozenlist==1.5.0
fsspec==2024.12.0
future==1.0.0
gdown==5.2.0
gfpgan==1.3.8
grpcio==1.68.1
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
imageio==2.36.1
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.5
kiwisolver==1.4.8
lazy_loader==0.4
llvmlite==0.43.0
lmdb==1.5.1
lpips==0.1.4
lxml==5.3.0
Markdown==3.7
MarkupSafe==3.0.2
matplotlib==3.10.0
MechanicalSoup==1.3.0
mpmath==1.3.0
multidict==6.1.0
networkx==3.4.2
newsapi-python==0.2.7
nitter==0.0.5
ntscraper==0.3.17
numba==0.60.0
numpy==2.0.2
oauthlib==3.2.2
opencv-python==4.10.0.84
packaging==24.2
parse==1.20.2
pillow==11.1.0
platformdirs==4.3.6
propcache==0.2.1
protobuf==5.29.2
pyaes==1.6.1
pyasn1==0.6.1
pyee==11.1.1
pyparsing==3.2.1
pyppeteer==2.0.0
pyquery==2.0.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-telegram-bot==21.9
PyYAML==6.0.2
realesrgan==0.3.0
requests==2.32.3
requests-html==0.10.0
requests-oauthlib==1.3.1
rsa==4.9
scikit-image==0.25.0
scipy==1.15.0
setuptools==75.6.0
six==1.17.0
sniffio==1.3.1
soupsieve==2.6
sympy==1.13.1
tb-nightly==2.19.0a20250104
Telethon==1.38.1
tensorboard-data-server==0.7.2
tifffile==2024.12.12
torch==2.5.1
torchvision==0.20.1
tqdm==4.67.0
tweepy==4.14.0
twitter-scraper==0.4.4
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
urllib3==1.26.20
w3lib==2.2.1
websockets==10.4
Werkzeug==3.1.3
yapf==0.43.0
yarl==1.18.3
yt-dlp==2024.12.6
zipp==3.21.0
