absl-py
addict
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
anyio
appdirs
APScheduler
attrs
basicsr
beautifulsoup4
blinker
bs4
certifi
charset-normalizer
click
colorama
contourpy
cssselect
cycler
facexlib
fake-useragent
filelock
filterpy
Flask
fonttools
frozenlist
fsspec
future
gdown
gfpgan
grpcio
h11
httpcore
httpx
idna
imageio
importlib_metadata
itsdangerous
Jinja2
kiwisolver
lazy_loader
llvmlite
lmdb
lpips
lxml
Markdown
MarkupSafe
matplotlib
MechanicalSoup
mpmath
multidict
networkx
newsapi-python
nitter
ntscraper
numba
numpy
oauthlib
opencv-python
packaging
parse
pillow
platformdirs
propcache
protobuf
pyaes
pyasn1
pyee
pyparsing
pyppeteer
pyquery
PySocks
python-dateutil
python-dotenv
python-telegram-bot
PyYAML
realesrgan
requests
requests-html
requests-oauthlib
rsa
scikit-image
scipy
setuptools
six
sniffio
soupsieve
sympy
tb-nightly
Telethon
tensorboard-data-server
tifffile
torch
torchvision
tqdm
tweepy
twitter-scraper
typing_extensions
tzdata
tzlocal
urllib3
w3lib
websockets
Werkzeug
yapf
yarl
yt-dlp
zipp
